# EJERCICIOS - Pandas Series

1 - Importa numpy y pandas

In [1]:
import pandas as pd

2 - Crea una Pandas Series desde una lista que contiene 6 letras

In [5]:
lista = ['a','b','c','d','e','f']
serie = pd.Series(lista)
serie

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

3 - Crea una Serie desde un array del 1-9

In [7]:
import numpy as np

In [9]:
arr = np.arange(10)
serie_1 = pd.Series(arr)
serie_1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

4 - Crea una Serie desde un diccionario con 5 números y 5 etiquetas de letras

In [12]:
dict_1 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
serie_2 = pd.Series(dict_1)
serie_2

a    1
b    2
c    3
d    4
e    5
dtype: int64

5 - Dada una serie con 5 números, cambia los índices por default a etiquetas con nombres

In [19]:
arr_2 = np.random.randint(0, 10, 5)
arr_2

array([2, 4, 4, 9, 9])

In [20]:
serie_3 = pd.Series(arr_2)
serie_3

0    2
1    4
2    4
3    9
4    9
dtype: int32

In [23]:
serie_3.index = ['españa', 'francia', 'italia', 'portugal', 'alemania']
serie_3

españa      2
francia     4
italia      4
portugal    9
alemania    9
dtype: int32

In [ ]:
# Alternativa interesante y a estudiar

In [28]:
index = list('ABCDE')
values = np.arange(5)
serie_4 = pd.Series(values, index)
serie_4

A    0
B    1
C    2
D    3
E    4
dtype: int32

6 - Pónle un nombre a la Serie!

In [31]:
serie_4.name = 'ejercicios'
serie_4

A    0
B    1
C    2
D    3
E    4
Name: ejercicios, dtype: int32

7 - Dados dos arrays, 

a = np.array([1,2,3,2,3,4,3,4,5,6])


b = np.array([7,2,10,2,7,4,9,4,9,8])

Convíertalos en serie e identifica qué elementos de la serie a no estan en la serie b

In [33]:
a = np.array([1,2,3,2,3,4,3,4,5,6])

b = np.array([7,2,10,2,7,4,9,4,9,8])

In [36]:
serie_a = pd.Series(a)
serie_b = pd.Series(b)

In [39]:
serie_a[~serie_a.isin(serie_b)]

0    1
2    3
4    3
6    3
8    5
9    6
dtype: int32

8 - Crea una serie con los elementos NO comunes entre la serie a y b

In [42]:
no_com_a = serie_a[~serie_a.isin(serie_b)]
no_com_b = serie_b[~serie_b.isin(serie_a)]

no_com = no_com_a.append(no_com_b, ignore_index=True)
no_com

0      1
1      3
2      3
3      3
4      5
5      6
6      7
7     10
8      7
9      9
10     9
11     8
dtype: int32

9 - Calcula el mínimo, percentil 25, mediana, percentil 75 y el máximo de la Serie a

In [45]:
print('mínimo=', serie_a.min(), 'percentil 25=', serie_a.quantile(q=0.25), 'percentil 75=', serie_a.quantile(q=0.75), 'máximo=', serie_a.max())

mínimo= 1 percentil 25= 2.25 percentil 75= 4.0 máximo= 6

In [50]:
serie_a.describe() #manera fácil y correcta

count    10.000000
mean      3.300000
std       1.494434
min       1.000000
25%       2.250000
50%       3.000000
75%       4.000000
max       6.000000
dtype: float64

10 - Calcula la frecuencia de conteo de cada elemento único de la siguiente serie

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [61]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser

0     h
1     e
2     h
3     a
4     e
5     h
6     f
7     d
8     f
9     d
10    h
11    d
12    c
13    d
14    g
15    c
16    a
17    h
18    f
19    c
20    h
21    g
22    h
23    a
24    a
25    b
26    c
27    h
28    a
29    g
dtype: object

In [63]:
ser.value_counts() #Función muy interesante de pandas

h    8
a    5
c    4
d    4
g    3
f    3
e    2
b    1
dtype: int64

11 - De la serie anterior, quédate con los 2 elementos más frecuentes y reemplaza el resto con el valor "Otros"

In [85]:
 val_frec = ser.value_counts(sort=True, ascending=False)[:2].index

In [86]:
ser[~ser.isin(val_frec)] = 'Otros'
ser

0         h
1     Otros
2         h
3     Otros
4     Otros
5         h
6     Otros
7     Otros
8     Otros
9     Otros
10        h
11    Otros
12    Otros
13    Otros
14    Otros
15    Otros
16    Otros
17        h
18    Otros
19    Otros
20        h
21    Otros
22        h
23    Otros
24    Otros
25    Otros
26    Otros
27        h
28    Otros
29    Otros
dtype: object

12 - Encuentra la posición de los números de la siguiente serie que son múltiples de 3

ser = pd.Series(np.random.randint(1, 10, 7))

In [106]:
np.random.RandomState(100) #con esta función, podemos fijar la semilla para que el random siempre genere los mismos valores.
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    6
1    5
2    1
3    1
4    6
5    7
6    6
dtype: int32

In [109]:
ser[ser % 3 == 0].index.to_list()

[0, 4, 6]

13 - Extrae los elementos de la serie mediante las posiciones especificadas en la lista:

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 4, 8, 14, 20]

In [115]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solución
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [116]:
ser.iloc[pos] #otra manera de realizar el ejercicio

0     a
4     e
8     i
14    o
20    u
dtype: object

14 - Une las series serie_1 y serie_2:
- horizontalmente
- verticalmente

Donde la serie_1 es una serie comprendida por un rango de elementos enteros distribuidos hasta el nº 4 por step=1 y la serie_2 contiene los elementos a, b, c, d, e

In [120]:
serie_1 = pd.Series(np.arange(0, 5, 1))
serie_1

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [121]:
serie_2 = pd.Series(list('abcde'))
serie_2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [131]:
serie_h = pd.concat([serie_1, serie_2], axis=1)
serie_h

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [133]:
serie_v = pd.concat([serie_1, serie_2], axis=0, ignore_index=True)
serie_v

0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

In [138]:
serie_1.append(serie_2, ignore_index=True) #Otra alternativa

0     10
1      9
2      6
3      5
4      3
5      1
6     12
7      8
8     13
9      1
10     3
11    10
12    13
dtype: int64

15 - Filtra la serie 1 mediante los elementos de la serie 2 

serie_1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])

serie_2 = pd.Series([1, 3, 10, 13])

In [134]:
serie_1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])

serie_2 = pd.Series([1, 3, 10, 13])

In [141]:
serie_1[serie_1.isin(serie_2)] #Solución 1 de realizar el ejercicio y la más simple

0    10
4     3
5     1
8    13
dtype: int64

In [149]:
list_filt = [] #Solución 2 de realizarlo utilizando Pandas. 
for i in serie_2:
    a = pd.Index(serie_1).get_loc(i)
    list_filt.append(a)

serie_1[list_filt]

5     1
4     3
0    10
8    13
dtype: int64

In [159]:
serie_1[[pd.Index(serie_1).get_loc(i) for i in serie_2]] #Solución 2 de realizarlo utilizando Pandas pero simplificada.

5     1
4     3
0    10
8    13
dtype: int64

In [192]:
list_filt = []                        # Solución 3 utilizando Numpy
for i in serie_2:
    a = np.where(i == serie_1)[0][0]
    list_filt.append(a)

serie_1[list_filt]

5     1
4     3
0    10
8    13
dtype: int64

In [199]:
serie_1[[np.where(i == serie_1)[0][0] for i in serie_2]] #Solución 3 simplificada

5     1
4     3
0    10
8    13
dtype: int64

16 - Pon en mayúsculas la primera letra de cada elemento de la serie:

mi_frase = pd.Series(['como', 'ser', 'el', 'master', 'de', 'Python?'])

In [200]:
mi_frase = pd.Series(['como', 'ser', 'el', 'master', 'de', 'Python?'])

In [202]:
mi_frase.str.title() #Solución 1 y más eficiente con .str de pandas series.

0       Como
1        Ser
2         El
3     Master
4         De
5    Python?
dtype: object

In [215]:
mi_frase = pd.Series(['como', 'ser', 'el', 'master', 'de', 'Python?']) #Solución 2 utilizando .map.
mi_frase.map(lambda x : x.title())                                     #Mediante .map() reemplazamos cada elemento de la serie por el mismo elemento transformado mediante title()

0       Como
1        Ser
2         El
3     Master
4         De
5    Python?
dtype: object

In [219]:
mi_frase = pd.Series(['como', 'ser', 'el', 'master', 'de', 'Python?'])
pd.Series([i.title() for i in mi_frase])                #Solución 3 aplicamos title() a cada elemento de la Serie mediante un bucle y los elementos resultantos los convertimos a serie

0       Como
1        Ser
2         El
3     Master
4         De
5    Python?
dtype: object

17 - Calcula el nº de letras en cada elemento de la serie

mi_frase = pd.Series(['como', 'ser', 'el', 'master', 'de', 'Python?'])

In [220]:
mi_frase = pd.Series(['como', 'ser', 'el', 'master', 'de', 'Python?'])

In [222]:
mi_frase.map(lambda x: len(x))   # Primera solución

0    4
1    3
2    2
3    6
4    2
5    7
dtype: int64

In [223]:
pd.Series([len(i) for i in mi_frase], index=mi_frase)   #Segunda solución

como       4
ser        3
el         2
master     6
de         2
Python?    7
dtype: int64

18 - Calcula el máximo local en una serie numerica:

mis_numeros = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [224]:
mis_numeros = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [225]:
mis_numeros.max()

10